btop/btop.log
btop/themes

nvim/lazy-lock.json

unused/emacs/.cache/
unused/emacs/auto-save-list/
unused/emacs/autosaves/
unused/emacs/backups/
unused/emacs/elpa/
unused/emacs/transient/
unused/emacs/recentf
*.elc

unused/qtile/__pycache__
