@define-color bg #222436;
@define-color bg_dark #1e2030;
@define-color bg_highlight #2f334d;
@define-color blue #82aaff;
@define-color blue0 #3e68d7;
@define-color blue1 #65bcff;
@define-color blue2 #0db9d7;
@define-color blue5 #89ddff;
@define-color blue6 #b4f9f8;
@define-color blue7 #394b70;
@define-color comment #636da6;
@define-color cyan #86e1fc;
@define-color dark3 #545c7e;
@define-color dark5 #737aa2;
@define-color fg #c8d3f5;
@define-color fg_dark #828bb8;
@define-color fg_gutter #3b4261;
@define-color green #c3e88d;
@define-color green1 #4fd6be;
@define-color green2 #41a6b5;
@define-color magenta #c099ff;
@define-color magenta2 #ff007c;
@define-color orange #ff966c;
@define-color purple #fca7ea;
@define-color red #ff757f;
@define-color red1 #c53b53;
@define-color teal #4fd6be;
@define-color terminal_black #444a73;
@define-color yellow #ffc777;

@define-color background @bg;
@define-color foreground @fg_gutter;

@define-color accent @cyan;
@define-color accent_dark @blue0;

@define-color powerline-1 @cyan;
@define-color powerline-2 @fg;
@define-color powerline-3 @fg;
@define-color powerline-4 @cyan;

* {
  font-family: "0xProto Nerd Font Mono";
  font-size: 10px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  color: @foreground;
}

window#waybar {
  background-color: @background;
}

#workspaces button.active {
  border-bottom: 2px solid @accent_dark;
}

#custom-powerline-1-tail,
#workspaces {
  background-color: @powerline-1;
}

#custom-powerline-1-head {
  color: @powerline-1;
}

#custom-powerline-2-tail,
#window {
  background-color: @powerline-2;
}

#custom-powerline-2-head {
  color: @powerline-2;
}

#custom-powerline-3-tail,
#custom-time {
  background-color: @powerline-3;
}

#custom-powerline-3-head {
  color: @powerline-3;
}

#custom-powerline-4-tail,
#custom-date {
  background-color: @powerline-4;
}

#custom-powerline-4-head {
  color: @powerline-4;
}

#custom-powerline-1-tail,
#custom-powerline-2-tail,
#custom-powerline-3-tail,
#custom-powerline-4-tail {
  color: @background;
}

#custom-powerline-1-head,
#custom-powerline-2-head,
#custom-powerline-2-tail,
#custom-powerline-3-head,
#custom-powerline-3-tail,
#custom-powerline-4-head,
#custom-powerline-4-tail {
  font-size: 22px;
}
