@define-color background #0b090a;
@define-color foreground #edf2f4;

@define-color powerline-1 #dd2d3a;
@define-color powerline-2 #880d1e;
@define-color powerline-3 #003554;
@define-color powerline-4 #006494;
@define-color powerline-5 #0582ca;
@define-color powerline-6 #00a6fb;

* {
  font-family: "0xProto Nerd Font Mono";
  font-size: 15px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  color: @foreground;
}

window#waybar {
  background-color: @background;
}

#workspaces button.focused {
  border-bottom: 2px solid @foreground;
}

#custom-powerline-1-tail,
#workspaces {
  background-color: @powerline-1;
}

#custom-powerline-1-head {
  color: @powerline-1;
}

#custom-powerline-2-tail,
#window {
  background-color: @powerline-2;
}

#custom-powerline-2-head {
  color: @powerline-2;
}

#custom-powerline-3-tail,
#battery {
  background-color: @powerline-3;
}

#custom-powerline-3-head {
  color: @powerline-3;
}

#custom-powerline-4-tail,
#clock.time {
  background-color: @powerline-4;
}

#custom-powerline-4-head {
  color: @powerline-4;
}

#custom-powerline-5-tail,
#clock.date {
  background-color: @powerline-5;
}

#custom-powerline-5-head {
  color: @powerline-5;
}

#custom-powerline-6-tail,
#wireplumber {
  background-color: @powerline-6;
}

#custom-powerline-6-head {
  color: @powerline-6;
}

#custom-powerline-1-tail,
#custom-powerline-2-tail,
#custom-powerline-3-tail,
#custom-powerline-4-tail,
#custom-powerline-5-tail,
#custom-powerline-6-tail {
  color: @background;
}

#custom-powerline-1-head,
#custom-powerline-2-head,
#custom-powerline-2-tail,
#custom-powerline-3-head,
#custom-powerline-3-tail,
#custom-powerline-4-head,
#custom-powerline-4-tail,
#custom-powerline-5-head,
#custom-powerline-5-tail,
#custom-powerline-6-head,
#custom-powerline-6-tail {
  font-size: 22px;
}
